<div class="row">
    <div class="col-lg-6 col-md-12" style="max-height: 640px;">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Vehicles in the road</h4>
        </div>
        <div class="card-body table-responsive" style="overflow: auto;max-height: 591px;">
          <table class="table table-hover" id="all-table">
            <thead class="text-info">
              <th>ID</th>
              <th>Vehicle type</th>
              <th>Road action</th>
              <th>Day of week</th>
              <th>Hour</th>
              <th>Day type</th>
            </thead>
            <%- include('./all-table'); %>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12" style="max-height: 640px;">
        <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">BigML data</h4>
            </div>
          <div class="card-body table-responsive" style="overflow: auto;max-height: 591px;">
            
          </div>
        </div>
      </div>
</div>