<div class="modal fade" id="modal<%= key %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <% 
        const type = VEHICLES_TYPES[key] || VEHICLES_TYPES['default'];
    %>
    <div class="modal-dialog bd-example-modal-lg" role="document" style="max-width: 70%;">
        <div class="modal-content">
            <div class="card">
                <div class="card-header card-header-default" style="background: linear-gradient(90deg, rgba(38,38,38,1) 0%, rgba(76,76,76,1) 100%);">
                  <h4 class="card-title">Details on section #<%= key %></h4>
                </div>
                <div class="card-body table-responsive">
                  <table class="table table-hover" id="<%= key %>-vehicle-table">
                    <thead>
                      <th>ID</th>
                      <th>Vehicle type</th>
                      <th>Road action</th>
                      <th>Section</th>
                      <th>Day of week</th>
                      <th>Hour</th>
                      <th>Day type</th>
                    </thead>
                    <%- include('./all-table'); %>
                  </table>
                </div>
              </div>
        </div>
    </div>
</div>